<footer>
  {{ if .Params.hero.caption }}<p class="hero-caption">Banner image: {{ .Params.hero.caption | safeHTML }}</p>{{ end}}
  <p class="last-update">{{ if .Params.updated }}Last updated: {{ .Params.updated }}{{ end }}</p>

  <ul class="footer-links">
    <li><a href="http://fws.gov/">U.S. Fish and Wildlife Service</a></li>
    <li><a href="https://doi.gov">Department of the Interior</a></li>
    <li><a href="https://usa.gov">USA.gov</a></li>
    <li><a href="http://fws.gov/about_us.html">About the U.S. Fish and Wildlife Service</a></li>
    <li><a href="http://www.fws.gov/help/accessibility.html">Accessibility</a></li>
    <li><a href="http://www.fws.gov/help/policies.html">Privacy</a></li>
    <li><a href="http://www.fws.gov/help/notices.html">Notices</a></li>
    <li><a href="http://www.fws.gov/help/disclaimer.html">Disclaimer</a></li>
    <li><a href="http://www.fws.gov/irm/bpim/foia.html">FOIA</a></li>
    <li><a href="mailto:{{ .Site.Params.webmaster.primary }}?cc={{ .Site.Params.webmaster.backup }}&body=I%20found%20an%20issue%20with%20the%20webpage:%20{{ .Permalink }}">Contact the Webmaster</a></li>
  </ul>
</footer>
