{{ if ne .Type "map" }}
{{ partial "social-links.html" . }}
{{ end }}
<footer>

  {{ if .Params.updated }}<p class="last-update">Last updated: {{ .Params.updated }}</p>{{ end }}
  
  <ul class="footer-links">
    <li><a target="_blank" href="https://www.fws.gov/">U.S. Fish and Wildlife Service</a></li>
    <li><a target="_blank" href="https://www.doi.gov">Department of the Interior</a></li>
    <li><a target="_blank" href="https://www.usa.gov">USA.gov</a></li>
    <li><a target="_blank" href="https://www.fws.gov/help/about_us.html">About the U.S. Fish and Wildlife Service</a></li>
    <li><a target="_blank" href="https://www.fws.gov/help/accessibility.html">Accessibility</a></li>
    <li><a target="_blank" href="https://www.fws.gov/help/policies.html">Privacy</a></li>
    <li><a target="_blank" href="https://www.fws.gov/help/notices.html">Notices</a></li>
    <li><a target="_blank" href="https://www.fws.gov/help/disclaimer.html">Disclaimer</a></li>
    <li><a target="_blank" href="https://www.fws.gov/irm/bpim/foia.html">FOIA</a></li>
    <li><a href="mailto:{{ .Site.Params.webmaster.primary }}?cc={{ .Site.Params.webmaster.backup }}&amp;body=I%20found%20an%20issue%20with%20the%20webpage:%20{{ .Permalink }}">Contact the Webmaster</a></li>
    <li><a target="_blank" href='https://www.github.com/usfws/southeast'>Source code</a></li>
    <li><a target="_blank" href="/sitemap.xml">Sitemap</a></li>
  </ul>

  <address>1875 Century Boulevard NE, Atlanta, GA 30345</address>
</footer>
