<nav role='navigation' class="main-nav">
  <ul class="nav-list" role="menu">
    <li class="nav-item">
      <a href="javascript:void(0);" class="nav-link fws-menu-trigger" aria-haspopup="true">
        <svg class="icon icon-home">
          <use xlink:href="#menu"></use>
        </svg>
        <span class="nav-text">menu</span>
      </a>
      <div class="fws-menu">
        <ul>
          <li>
            <form name="search-form" class="site-search" action="http://search.usa.gov/search/docs">
              <input id="affiliate" name="affiliate" type="hidden" value="fws.gov">
              <input name="utf8" type="hidden" value="&#x2713;">
              <input type="hidden" name="dc" value="2270">
              <label for="site-search" class="site-search-label">Search:</label>
              <input type="search" id="site-search" name="query" placeholder="Enter search term, e.g. Bald eagle" role="search">
              <input type="submit" class="site-search-button" value="Search">
            </form>
          </li>
          <li>
            <a href="javascript:void(0);">About Us</a>
            <ul>
              <li><a href="/about-us">About the Southeast Region</a></li>
              <li><a href="/priorities">Regional Priorities</a></li>
              <li><a href="/about-us/leadership">Regional Leadership</a></li>
              <li><a href="#">Our Jobs</a></li>
              <li><a href="/about-us/budget">Budget</a></li>
              <li>
                <a href="javascript:void(0);">Initiatives</a>
                <ul>
                  <li><a href="#">At-Risk Species Conservation</a></li>
                  <li><a href="#">Gulf of Mexico Restoration</a></li>
                  <li><a href="/landscape-conservation">Large Landscapes</a></li>
                  <li><a href="#">Longleaf Pine Restoration</a></li>
                </ul>
              </li>
              <li><a href="#">Current Projects</a></li>
            </ul>
          </li>
          <li>
            <a href="javascript:void(0);">Endangered Species</a>
            <ul>
              <li><a href="/endangered-species-act/recovery">Recovery</a></li>
              <li><a href="http://ecos.fws.gov/tess_public/reports/species-listed-by-state-totals-report">Listed Species by State</a></li>
              <li><a href="http://ecos.fws.gov/tess_public/reports/ad-hoc-species-report?kingdom=V&status=E&status=T&status=EmE&status=EmT&status=SAE&status=SAT&mapstatus=1&fleadreg=on&fstatus=on&finvpop=on&header=Listed+Vertebrate+Animals">Listed Vertebrates</a></li>
              <li><a href="http://ecos.fws.gov/tess_public/reports/ad-hoc-species-report?kingdom=I&status=E&status=T&status=EmE&status=EmT&status=SAE&status=SAT&mapstatus=1&fleadreg=on&fstatus=on&finvpop=on&header=Listed+Invertebrate+Animals">Listed Inertebrates</a></li>
              <li><a href="http://ecos.fws.gov/tess_public/reports/ad-hoc-species-report?groups=Q&status=E&status=T&status=EmE&status=EmT&status=SAE&status=SAT&mapstatus=1&fleadreg=on&fstatus=on&finvpop=on&header=Listed+Flowering+Plants">Listed Flowering Plants</a></li>
              <li><a href="http://ecos.fws.gov/tess_public/reports/ad-hoc-species-report?groups=R&groups=S&groups=U&groups=V&groups=W&status=E&status=T&status=EmE&status=EmT&status=SAE&status=SAT&mapstatus=1&fleadreg=on&fstatus=on&finvpop=on&header=Listed+Non-Flowering+Plants">Listed Non-Flowering Plants</a></li>
            </ul>
          </li>
          <li>
            <a href="javascript:void(0);">National Wildlife Refuges</a>
            <ul>
              <li><a href="#">What's a Refuge?</a></li>
              <li>
                <a href="javascript:void(0);">What You Can Do on a Refuge</a>
                <ul>
                  <li><a href="/refuges/hunting">Hunting</a></li>
                  <li><a href="#">Fishing</a></li>
                  <li><a href="#">Wildlife Watching</a></li>
                  <li><a href="#">Wildlife Photography</a></li>
                  <li><a href="#">Education/Interpretation</a></li>
                </ul>
              </li>
              <li><a href="#">Find a Refuge Near You</a></li>
            </ul>
          </li>
          <li>
            <a href="javascript:void(0);">Services</a>
            <ul>
              <li><a href="/services">Services home</a></li>
              <li>
                <a href="javascript:void(0);">Permits</a>
                <ul>
                  <li><a href="#">Permits 101</a></li>
                  <li><a href="#">Do I Need a Permit?</a></li>
                  <li><a href="#">Where's My Permit?</a></li>
                </ul>
              </li>
              <li><a href="/services/grants">Grants</a></li>
              <li><a href="/services/landowners">For Landowners</a></li>
              <li><a href="#">For Coastal Communities</a></li>
              <li><a href="#">For Tribes</a></li>
              <li><a href="#">For Businesses</a></li>
            </ul>
          </li>
          <li>
            <a href="javascript:void(0);">Work With Us</a>
            <ul>
              <li><a href="/work-with-us">Work with us home</a></li>
              <li><a href="/work-with-us/jobs">Jobs</a></li>
              <li><a href="/work-with-us/internships">Internships</a></li>
              <li><a href="#">Volunteer Opportunities</a></li>
              <li><a href="#">Business Contracts</a></li>
            </ul>
          </li>
          <li>
            <a href="javascript:void(0);">Help Wildlife</a>
            <ul>
              <li><a href="#">Report Wildlife Crime</a></li>
              <li><a href="#">Ways You Can Make a Difference</a></li>
              <li>
                <a href="javascript:void(0);">Materials for Teachers</a>
                <ul>
                  <li><a href="#">Biologist in Training</a></li>
                  <li><a href="#">Coloring Books</a></li>
                  <li><a href="#">Bring Your Class to a Refuge</a></li>
                </ul>
              </li>
              <li><a href="#">Ways to Help Wildlife</a></li>
            </ul>
          </li>
          <li>
            <a href="javascript:void(0);">Science</a>
            <ul>
              <li><a href="/science">Science home</a></li>
              <li>
                <a href="javascript:void(0);">Our Changing World</a>
                <ul>
                  <li>
                    <a href="javascript:void(0);">Extreme Weather</a>
                    <ul>
                      <li><a href="#">Floods</a></li>
                      <li><a href="#">Wildfires</a></li>
                      <li><a href="#">Hurricanes</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Pollution</a></li>
                  <li><a href="#">Sea Level Rise</a></li>
                  <li><a href="#">Urbanization</a></li>
                  <li><a href="#">Water Resources</a></li>
                </ul>
              </li>
              <li><a href="#">Inventory &amp; Monitoring</a></li>
              <li><a href="#">5-Year Reviews</a></li>
              <li><a href="#">Survey Data</a></li>
              <li><a href="#">Wetlands Inventory</a></li>
            </ul>
          </li>
          <li>
            <a href="javascript:void(0);">States</a>
            <ul>
              <li><a href="/alabama">Alabama</a></li>
              <li><a href="/arkansas">Arkansas</a></li>
              <li><a href="/florida">Florida</a></li>
              <li><a href="/georgia">Georgia</a></li>
              <li><a href="/kentucky">Kentucky</a></li>
              <li><a href="/louisiana">Louisiana</a></li>
              <li><a href="/mississippi">Mississippi</a></li>
              <li><a href="/north-carolina">North Carolina</a></li>
              <li><a href="/puerto-rico">Puerto Rico</a></li>
              <li><a href="/south-carolina">South Carolina</a></li>
              <li><a href="/tennessee">Tennessee</a></li>
            </ul>
          </li>
          <li>
            <a href="javascript:void(0);">Maps</a>
            <ul>
              <li><a href="#">Megamap</a></li>
              <li><a href="#">Geographic Information Systems</a></li>
              <li><a href="/sitemap.xml">Sitemap</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item nav-item-search">
      <a href="javascript:void(0);" class="nav-link" id="search-trigger">
        <svg class="icon icon-home">
          <use xlink:href="#search"></use>
        </svg>
        <span class="nav-text">search</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="javascript:void(0);" class="nav-link toggle-contact">
        <svg class="icon icon-home">
          <use xlink:href="#message"></use>
        </svg>
        <span class="nav-text">contact</span>
      </a>
    </li>
    <li class="nav-item nav-item-share">
      <a href="javascript:void(0);" class="nav-link toggle-share">
        <svg>
          <use xlink:href="#share"></use>
        </svg>
        <span class="nav-text">share</span>
      </a>
    </li>
    <li class="nav-item glossary-trigger">
      <a href="javascript:void(0);" class="nav-link">
        <svg>
          <use xlink:href="#glossary"></use>
        </svg>
        <span class="nav-text">glossary</span>
      </a>
    </li>
    <li class="nav-item nav-item-home">
      <a href="{{ .Site.BaseURL }}/" class="nav-link">
        <svg>
          <use xlink:href="#home"></use>
        </svg>
        <span class="nav-text">home</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="http://fws.gov">
        <img class="logo" src="/images/svg/logo.svg" alt="Official logo of the U.S. Fish and Wildlife Service" title="USFWS Home" />
      </a>
    </li>
  </ul>
</nav>
