<nav role='navigation' class="main-nav">
  <ul class="nav-list" role="menu">
    <li class="nav-item fws-menu-trigger">
      <button class="nav-link">
        <svg class="icon icon-home">
          <use xlink:href="#menu"></use>
        </svg>
        <span class="nav-text">menu</span>
      </button>
      <div class="fws-menu">
        <ul>
          <li>
            <form name="search-form" class="site-search" action="https://search.usa.gov/search/docs">
              <input id="affiliate" name="affiliate" type="hidden" value="fws.gov">
              <input name="utf8" type="hidden" value="&#x2713;">
              <input type="hidden" name="dc" value="2270">
              <label for="site-search" class="site-search-label">Search:</label>
              <div class="search-group">
                <input type="search" id="site-search" name="query" placeholder="Search, e.g. Bald eagle" role="search">
                <button type="submit" class="site-search-button" value="Search">
                  <svg>
                    <use xlink:href="#search"></use>
                  </svg>
                </button>
              </div>
            </form>
          </li>
          <li>
            <button>About Us</button>
            <ul>
              <li><a href="/about">About the Southeast Region</a></li>
              <li><a href="/about/leadership">Regional Leadership</a></li>
            </ul>
          </li>
          <li>
            <button>Priorities</button>
            <ul>
              <li><a href="/priorities">Regional Priorities</a></li>
              <li><a href="/endangered-species-act/at-risk-species">At-Risk Species Conservation</a></li>
              <li><a href="/gulf-restoration">Gulf Restoration and Deepwater Horizon NRDAR</a></li>
              <li><a href="/landscape-conservation">Large Landscapes and Landscape Conservation Cooperatives</a></li>
              <li><a href="http://secassoutheast.org" target="_blank">Southeast Conservation Adaptation Strategy</a></li>
            </ul>
          </li>
          <li><a href="/news">News Archive</a></li>
          <li><a href="/regional-spokespersons">Regional Spokespersons</a></li>
          <li>
            <button>Endangered Species</button>
            <ul>
              <li><a href="/endangered-species-act">Endangered Species Act in the Southeast</a></li>
              <li><a href="/endangered-species-act/at-risk-species">At-Risk Species</a></li>
              <li><a href="/endangered-species-act/90-day-finding">90-Day Findings</a></li>
              <li><a href="/endangered-species-act/critical-habitat">Critical Habitat</a></li>
              <li><a href="/endangered-species-act/recovery">Recovery</a></li>
              <li><a href="/endangered-species-act/five-year-reviews">5-Year Reviews</a></li>
              <li><a href="/science/peer-review">Peer Reviews</a></li>
              <li><a href="http://ecos.fws.gov/tess_public/reports/species-listed-by-state-totals-report">Listed Species by State</a></li>
              <li><a href="http://ecos.fws.gov/tess_public/reports/ad-hoc-species-report?kingdom=V&status=E&status=T&status=EmE&status=EmT&status=SAE&status=SAT&mapstatus=1&fleadreg=on&fstatus=on&finvpop=on&header=Listed+Vertebrate+Animals">Listed Vertebrates</a></li>
              <li><a href="http://ecos.fws.gov/tess_public/reports/ad-hoc-species-report?kingdom=I&status=E&status=T&status=EmE&status=EmT&status=SAE&status=SAT&mapstatus=1&fleadreg=on&fstatus=on&finvpop=on&header=Listed+Invertebrate+Animals">Listed Invertebrates</a></li>
              <li><a href="http://ecos.fws.gov/tess_public/reports/ad-hoc-species-report?groups=Q&status=E&status=T&status=EmE&status=EmT&status=SAE&status=SAT&mapstatus=1&fleadreg=on&fstatus=on&finvpop=on&header=Listed+Flowering+Plants">Listed Flowering Plants</a></li>
              <li><a href="http://ecos.fws.gov/tess_public/reports/ad-hoc-species-report?groups=R&groups=S&groups=U&groups=V&groups=W&status=E&status=T&status=EmE&status=EmT&status=SAE&status=SAT&mapstatus=1&fleadreg=on&fstatus=on&finvpop=on&header=Listed+Non-Flowering+Plants">Listed Non-Flowering Plants</a></li>
            </ul>
          </li>
          <li>
            <button>National Wildlife Refuges</button>
            <ul>
              <li><a href="/national-wildlife-refuges/">Refuges in the Southeast</a></li>
              <li><a href="/national-wildlife-refuges/visitor-activities">Visitor Activities</a></li>
              <li><a href="/national-wildlife-refuges/urban-initiative">Urban Initiative</a></li>
              <li><a href="https://usfws.github.io/southeast-mega-map/?layers=refuges&layers=Refuge+boundaries" target="_blank">Find a Refuge Near You</a></li>
              <li><a href="/national-wildlife-refuges/hunting/">Hunting</a></li>
              <li><a href="/national-wildlife-refuges/fishing">Fishing</a></li>
            </ul>
          </li>
          <li>
            <button>Our Services</button>
            <ul>
              <li><a href="/our-services/permits">Permits 101</a></li>
              <li><a href="/our-services/permits/recovery-and-interstate-commerce">Recovery and Interstate Commerce Permits</a></li>
              <li><a href="/birds/eagles">Bald and Golden Eagle Permits</a></li>
              <li><a href="/our-services/dam-removals">Dam Removals</a></li>
              <li><a href="/our-services/grants">Grants</a></li>
              <li><a href="/our-services/fire">Keeping Fire on Our Side</a></li>
              <li><a href="/our-services/native-american-tribes">For Native American Tribes</a></li>
              <li><a href="/our-services/partners-program">For Landowners</a></li>
              <li><a href="/our-services/coastal-conservation">For Coastal Communities</a></li>
              <li><a href="/our-services/energy-development">Energy Development</a></li>
            </ul>
          </li>
          <li>
            <button>Work With Us</button>
            <ul>
              <li><a href="/work-with-us/jobs">Jobs</a></li>
              <li><a href="/work-with-us/internships">Internships</a></li>
              <li><a href="/work-with-us/volunteer">Volunteer Opportunities</a></li>
              <li><a href="/work-with-us/friends-groups">Friends Groups</a></li>
              <li><a href="/work-with-us/business-opportunities">Business Opportunities</a></li>
            </ul>
          </li>
          <li>
            <button>Wildlife and You</button>
            <ul>
              <li><a href="/law-enforcement">Law Enforcement and Wildlife Crime</a></li>
              <li><a href="/wildlife-and-you/bats">Backyard Habitat: Bats</a></li>
              <li><a href="/wildlife-and-you/birds">Backyard Habitat: Birds</a></li>
              <li><a href="/wildlife-and-you/injured-or-orphaned-animals">Injured Wildlife</a></li>
            </ul>
          </li>
          <li>
            <button>Species Profiles</button>
            <ul>
              <li><a href="/wildlife">Southeastern Species</a></li>
              <li><a href="/wildlife/amphibians">Amphibians</a></li>
              <li><a href="/wildlife/crustaceans">Crustaceans</a></li>
              <li><a href="/wildlife/fishes">Fishes</a></li>
              <li><a href="/wildlife/insects">Insects</a></li>
              <li><a href="/wildlife/mammals">Mammals</a></li>
              <li><a href="/wildlife/mussels">Mussels</a></li>
              <li><a href="/wildlife/plants">Plants</a></li>
            </ul>
          </li>
          <li>
            <button>Birds</button>
            <ul>
              <li><a href='/birds/bird-treaty-centennial'>100 Years of Bird Conservation</a></li>
              <li><a href='/birds/frequently-asked-questions'>Frequently Asked Questions</a></li>
              <li><a href='/birds/eagles'>Eagles</a></li>
              <li><a href='/birds/vultures'>Vultures</a></li>
              <li><a href='/birds/double-crested-cormorants'>Double-Crested Cormorants</a></li>
            </ul>
          </li>
          <li>
            <button>Science</button>
            <ul>
              <li><a href="/science">Science Home</a></li>
              <li><a href="/science/resources">Scientific Resources</a></li>
              <li><a href="/science/science-support-partnership/project-map">Project Map</a></li>
              <li><a href="/science/science-support-partnership/projects">Project List</a></li>
              <li><a href="/science/peer-review">Peer Review</a></li>
              <li><a href="/science/partnerships">Partnerships</a></li>
              <li><a href="/science/frequently-asked-questions">Frequently Asked Questions</a></li>
              <li><a href="/science/committee">Science Committee</a></li>
            </ul>
          </li>
          <li>
            <button>States</button>
            <ul>
              <li><a href="/alabama">Alabama</a></li>
              <li><a href="/arkansas">Arkansas</a></li>
              <li><a href="/florida">Florida</a></li>
              <li><a href="/georgia">Georgia</a></li>
              <li><a href="/kentucky">Kentucky</a></li>
              <li><a href="/louisiana">Louisiana</a></li>
              <li><a href="/mississippi">Mississippi</a></li>
              <li><a href="/north-carolina">North Carolina</a></li>
              <li><a href="/puerto-rico">Puerto Rico</a></li>
              <li><a href="/south-carolina">South Carolina</a></li>
              <li><a href="/tennessee">Tennessee</a></li>
            </ul>
          </li>
          <li>
            <button>Maps</button>
            <ul>
              <li><a href="https://usfws.github.io/southeast-mega-map">Map of Offices</a></li>
              <li><a href="https://www.fws.gov/Wetlands/nwi/" target="_blank">National Wetlands Inventory</a></li>
              <li><a href="/reading-room/?q=Map" target="_blank">Maps from the Reading Room</a></li>
              <!-- <li><a href="#">Geographic Information Systems</a></li> -->
            </ul>
          </li>
          <li><a href="/law-enforcement">Law Enforcement and Wildlife Crime</a></li>
          <li><a href="/federal-register">Federal Register Notices</a></li>
          <li><a href="/our-changing-climate">Our Changing World</a></li>
          <li class="back-block menu-back"></li>
        </ul>
      </div>
    </li>
    <li class="nav-item nav-item-search">
      <button class="nav-link" id="search-trigger">
        <svg>
          <use xlink:href="#search"></use>
        </svg>
        <span class="nav-text">search</span>
      </button>
    </li>
    <li class="nav-item contact-icon">
      <button class="nav-link toggle-contact">
        <svg>
          <use xlink:href="#message"></use>
        </svg>
        <span class="nav-text">contact</span>
      </button>
    </li>
    <li class="nav-item nav-item-share">
      <button class="nav-link toggle-share">
        <svg>
          <use xlink:href="#share"></use>
        </svg>
        <span class="nav-text">share</span>
      </button>
    </li>
    <li class="nav-item glossary-trigger">
      <button class="nav-link">
        <svg>
          <use xlink:href="#glossary"></use>
        </svg>
        <span class="nav-text">glossary</span>
      </button>
    </li>
    <li class="nav-item nav-item-home home-icon">
      <a href="{{ .Site.BaseURL }}" class="nav-link">
        <svg>
          <use xlink:href="#home"></use>
        </svg>
        <span class="nav-text">home</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="http://fws.gov" class="nav-link">
        <svg class="logo">
          <use xlink:href="#logo"></use>
        </svg>
      </a>
    </li>
  </ul>
</nav>
