<nav class="main-nav" aria-label="Site-wide navigation">
  <ul class="nav-list">
    <li class="nav-item fws-menu-trigger">
      <button class="nav-link">
        <svg class="icon icon-home" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 0h24v24H0z" fill="none" />
          <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" />
        </svg>
        <span class="nav-text">menu</span>
      </button>
      <div class="fws-menu">
        <ul>
          <li>
            <button>About the Southeast Region</button>
            <ul>
              <li><a href="/about">About the Southeast Region</a></li>
              <li><a href="/about/leadership">Regional Leadership</a></li>
              <li><a href="/priorities">Regional Priorities</a></li>
              <li>
                <a href="/regional-spokespersons">Regional Spokespersons</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="/wildlife-and-you/hunting-and-fishing">Hunting and Fishing</a>
          </li>
          <li><a href="/articles">Stories</a></li>
          <li>
            <button>Conservation by State</button>
            <ul>
              <li>
                <a aria-label="Alabama content" href="/alabama">Alabama</a>
              </li>
              <li>
                <a aria-label="Arkansas content" href="/arkansas">Arkansas</a>
              </li>
              <li>
                <a aria-label="Florida content" href="/florida">Florida</a>
              </li>
              <li>
                <a aria-label="Georgia content" href="/georgia">Georgia</a>
              </li>
              <li>
                <a aria-label="Kentucky content" href="/kentucky">Kentucky</a>
              </li>
              <li>
                <a aria-label="Louisiana content" href="/louisiana">Louisiana</a>
              </li>
              <li>
                <a aria-label="Mississippi content" href="/mississippi">Mississippi</a>
              </li>
              <li>
                <a aria-label="North Carolina content" href="/north-carolina">North Carolina</a>
              </li>
              <li>
                <a aria-label="Puerto Rico content" href="/puerto-rico">Puerto Rico</a>
              </li>
              <li>
                <a aria-label="South Carolina content" href="/south-carolina">South Carolina</a>
              </li>
              <li>
                <a aria-label="Tennessee content" href="/tennessee">Tennessee</a>
              </li>
              <li>
                <a aria-label="U.S. Virgin Islands content" href="/us-virgin-islands">U.S. Virgin Islands</a>
              </li>
            </ul>
          </li>
          <li>
            <button>Field Stations</button>
            <ul>
              <li>
                <button>Ecological Services</button>
                <ul>
                  <li>
                    <a href="https://www.fws.gov/asheville">Asheville, NC</a>
                  </li>
                  <li><a href="/caribbean/">Boquer&oacute;n, PR</a></li>
                  <li>
                    <a href="https://www.fws.gov/charleston">Charleston, SC</a>
                  </li>
                  <li>
                    <a href="https://www.fws.gov/arkansas-es">Conway, AR</a>
                  </li>
                  <li>
                    <a href="https://www.fws.gov/cookeville">Cookeville, TN</a>
                  </li>
                  <li><a href="https://www.fws.gov/daphne">Daphne, AL</a></li>
                  <li>
                    <a href="https://www.fws.gov/frankfort">Frankfort, KY</a>
                  </li>
                  <li><a href="https://www.fws.gov/athens">Athens, GA</a></li>
                  <li>
                    <a href="https://www.fws.gov/mississippies">Jackson, MS</a>
                  </li>
                  <li><a href="/lafayette">Lafayette, LA</a></li>
                  <li>
                    <a href="https://www.fws.gov/northflorida">North Florida</a>
                  </li>
                  <li>
                    <a href="https://www.fws.gov/panamacity">Panama City, FL</a>
                  </li>
                  <li><a href="https://www.fws.gov/raleigh">Raleigh, NC</a></li>
                  <li>
                    <a href="https://www.fws.gov/verobeach">Vero Beach, FL</a>
                  </li>
                </ul>
              </li>
              <li>
                <button>National Fish Hatcheries</button>
                <ul>
                  <li>
                    <a href="https://www.fws.gov/southeast/bears-bluff/">Bears Bluff, SC</a>
                  </li>
                  <li>
                    <a href="https://www.fws.gov/dalehollow">Dale Hollow, TN</a>
                  </li>
                  <li><a href="https://www.fws.gov/edenton">Edenton, NC</a></li>
                  <li><a href="https://www.fws.gov/erwin">Erwin, TN</a></li>
                  <li>
                    <a href="https://www.fws.gov/greersferry">Greers Ferry, AR</a>
                  </li>
                  <li>
                    <a href="https://www.fws.gov/mammothspring">Mammoth Spring, AR</a>
                  </li>
                  <li>
                    <a href="https://www.fws.gov/natchitoches">Natchitoches, LA</a>
                  </li>
                  <li><a href="https://www.fws.gov/norfork">Norfork, AR</a></li>
                  <li>
                    <a href="https://www.fws.gov/orangeburg">Orangeburg, SC</a>
                  </li>
                  <li><a href="/chattahoochee-forest">Suches, GA</a></li>
                  <li><a href="/private-john-allen">Tupelo, MS</a></li>
                  <li>
                    <a href="https://www.fws.gov/warmsprings">Warm Springs, GA</a>
                  </li>
                  <li><a href="https://www.fws.gov/welaka">Welaka, FL</a></li>
                  <li>
                    <a href="/wolf-creek">Wolf Creek, KY</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <button>Species Profiles</button>
            <ul>
              <li><a href="/wildlife">Southeastern Species</a></li>
              <li><a href="/wildlife/amphibians">Amphibians</a></li>
              <li><a href="/wildlife/arachnids">arachnid</a></li>
              <li><a href="/wildlife/birds">Birds</a></li>
              <li><a href="/wildlife/crustaceans">Crustaceans</a></li>
              <li><a href="/wildlife/fishes">Fishes</a></li>
              <li><a href="/wildlife/insects">Insects</a></li>
              <li><a href="/wildlife/mammals">Mammals</a></li>
              <li><a href="/wildlife/mussels">Mussels</a></li>
              <li><a href="/wildlife/plants">Plants</a></li>
              <li><a href="/wildlife/reptiles">Reptiles</a></li>
            </ul>
          </li>
          <li>
            <a href="/endangered-species-act/at-risk-species">At-Risk Species</a>
          </li>
          <li>
            <button>Endangered Species</button>
            <ul>
              <li>
                <a href="/endangered-species-act">Endangered Species Act</a>
              </li>
              <li>
                <a href="/endangered-species-act/at-risk-species">At-Risk Species Conservation</a>
              </li>
              <li>
                <a href="/endangered-species-act/90-day-finding">90-Day Findings</a>
              </li>
              <li>
                <a href="/endangered-species-act/critical-habitat">Critical Habitat</a>
              </li>
              <li><a href="/endangered-species-act/recovery">Recovery</a></li>
              <li>
                <a href="/endangered-species-act/five-year-reviews">5-Year Reviews</a>
              </li>
              <li>
                <a href="/endangered-species-act/emergency-consultation">Emergency Consultation</a>
              </li>
              <li>
                <a href="/endangered-species-act/voluntary-conservation-tools">Voluntary Conservation Tools</a>
              </li>
            </ul>
          </li>
          <li>
            <button>National Wildlife Refuges</button>
            <ul>
              <li>
                <a href="/national-wildlife-refuges/">Refuges in the Southeast</a>
              </li>
              <li>
                <a href="/national-wildlife-refuges/visitor-activities">Visitor Activities</a>
              </li>
              <li>
                <a href="/national-wildlife-refuges/urban-initiative">Urban Initiative</a>
              </li>
              <li>
                <a href="/map?q=National+Wildlife+Refuge" target="_blank">Find a Refuge Near You</a>
              </li>
              <li><a href="/national-wildlife-refuges/hunting/">Hunting</a></li>
              <li><a href="/national-wildlife-refuges/fishing">Fishing</a></li>
              <li>
                <a href="/national-wildlife-refuges/inventory-and-monitoring">Inventory and Monitoring</a>
              </li>
              <li>
                <a href="/national-wildlife-refuges/planning">Planning</a>
              </li>
            </ul>
          </li>
          <li>
            <button>Our Services</button>
            <ul>
              <li><a href="/our-services/permits">Permits 101</a></li>
              <li>
                <a href="/our-services/permits/recovery-and-interstate-commerce">Recovery and Interstate Commerce
                  Permits</a>
              </li>
              <li>
                <a href="/our-services/permits/eagles">Bald and Golden Eagle Permits</a>
              </li>
              <li>
                <a href="/our-services/eagle-technical-assistance/">Bald Eagle Technical Assistance</a>
              </li>
              <li><a href="/our-services/dam-removals">Dam Removals</a></li>
              <li>
                <a href="/our-services/fish-production">Fish Production</a>
              </li>
              <li><a href="/our-services/grants">Grants</a></li>
              <li><a href="/our-services/fire">Keeping Fire on Our Side</a></li>
              <li>
                <a href="/our-services/native-american-tribes">For Native American Tribes</a>
              </li>
              <li>
                <a href="/our-services/partners-program">For Landowners</a>
              </li>
              <li>
                <a href="/our-services/coastal-conservation">For Coastal Communities</a>
              </li>
              <li>
                <a href="/our-services/energy-development">Energy Development</a>
              </li>
            </ul>
          </li>
          <li>
            <button>Work With Us</button>
            <ul>
              <li><a href="/work-with-us/jobs">Jobs</a></li>
              <li><a href="/work-with-us/internships">Internships</a></li>
              <li>
                <a href="/work-with-us/volunteer">Volunteer Opportunities</a>
              </li>
              <li><a href="/work-with-us/friends-groups">Friends Groups</a></li>
              <li>
                <a href="/work-with-us/business-opportunities">Business Opportunities</a>
              </li>
            </ul>
          </li>
          <li>
            <button>Wildlife and You</button>
            <ul>
              <li>
                <a href="/wildlife-and-you/hunting-and-fishing">Hunting and Fishing</a>
              </li>
              <li>
                <a href="/law-enforcement">Law Enforcement and Wildlife Crime</a>
              </li>
              <li>
                <a href="/biologist-in-training">Biologist in Training Program</a>
              </li>
              <li>
                <a href="/wildlife-and-you/bats">Backyard Habitat: Bats</a>
              </li>
              <li>
                <a href="/wildlife-and-you/birds">Backyard Habitat: Birds</a>
              </li>
              <li>
                <a href="/wildlife-and-you/bees">Backyard Habitat: Bees</a>
              </li>
              <li>
                <a href="/wildlife-and-you/injured-or-orphaned-animals">Injured Wildlife</a>
              </li>
            </ul>
          </li>
          <li>
            <button>Bird Conservation</button>
            <ul>
              <li><a href="/birds/migratory-birds">Migratory Birds</a></li>
              <li><a href="/our-services/permits/eagles">Eagles</a></li>
              <li><a href="/faq/vultures">Vultures</a></li>
              <li>
                <a href="/faq/double-crested-cormorants">Double-Crested Cormorants</a>
              </li>
              <li><a href="/waterfowl">Waterfowl in the Southeast</a></li>
              <li>
                <a href="/waterfowl/waterbird-conservation-planning">Waterbird Conservation Planning</a>
              </li>
              <li>
                <a href="/waterfowl/public-access">Waterfowl public access</a>
              </li>
              <li>
                <a
                  href="/birds/waterfowl/primary-habitat-resources-for-waterfowl-on-national-wildlife-refuges-in-the-southeast.md">Waterfowl
                  primary habitats</a>
              </li>
            </ul>
          </li>
          <li>
            <button>Science</button>
            <ul>
              <li><a href="/science">Science Home</a></li>
              <li><a href="/science/resources">Scientific Resources</a></li>
              <li>
                <a href="/science/science-support-partnership/project-map">Project Map</a>
              </li>
              <li>
                <a href="/science/science-support-partnership/projects">Project List</a>
              </li>
              <li><a href="/science/peer-review">Peer Review</a></li>
              <li><a href="/science/partnerships">Partnerships</a></li>
              <li>
                <a href="/science/frequently-asked-questions">Frequently Asked Questions</a>
              </li>
              <li><a href="/science/committee">Science Committee</a></li>
            </ul>
          </li>
          <li>
            <button>Restoring the Gulf</button>
            <ul>
              <li><a href="/gulf-restoration">Gulf Home</a></li>
              <li><a href="/gulf-restoration/about-us">About</a></li>
              <li><a href="/gulf-restoration/vision">Our Vision</a></li>
              <li>
                <a href="/gulf-restoration/next-steps">Next Steps for a Healthy Gulf</a>
              </li>
              <li>
                <a href="/gulf-restoration/our-responsibilities">Our Responsibilities</a>
              </li>
              <li>
                <a href="/gulf-restoration/partner-resources">A Gulf-Wide Restoration Perspective</a>
              </li>
              <li><a href="/gulf-restoration/contact">Program Contacts</a></li>
            </ul>
          </li>
          <li>
            <button>Maps</button>
            <ul>
              <li><a href="/gis">Geographic Information Systems</a></li>
              <li>
                <a href="/reading-room/?q=Map" target="_blank">Maps in the Reading Room</a>
              </li>
              <li><a href="/map/#/map">Map of Field Stations</a></li>
              <li>
                <a href="https://www.fws.gov/Wetlands/nwi/" target="_blank">National Wetlands Inventory</a>
              </li>
            </ul>
          </li>
          <li><a href="/faq/asian-carp-in-southeastern-waters">Asian Carp in Southeastern Waters</a></li>
          <li><a href="/law-enforcement">Report Wildlife Crime</a></li>
          <li><a href="/our-changing-climate">Our Changing World</a></li>
          <li><a href="/conservation-tools">Conservation Tools</a></li>
          <li><a href="/data-management">Data Management</a></li>
          <li><a href="/news">News Releases</a></li>
          <li><a href="/reading-room">Reading Room: Document search</a></li>
          <li><a href="/federal-register">Federal Register Notices</a></li>
          <li class="back-block menu-back"></li>
        </ul>
      </div>
    </li>
    <li class="nav-item nav-item-search">
      <button class="nav-link" id="search-trigger">
        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z" />
          <path d="M0 0h24v24H0z" fill="none" />
        </svg>
        <span class="nav-text">search</span>
      </button>
    </li>
    <li class="nav-item contact-icon">
      <button class="nav-link toggle-contact">
        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M20 2H4c-1.1 0-1.99.9-1.99 2L2 22l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm-2 12H6v-2h12v2zm0-3H6V9h12v2zm0-3H6V6h12v2z" />
          <path d="M0 0h24v24H0z" fill="none" />
        </svg>
        <span class="nav-text">contact</span>
      </button>
    </li>
    <li class="nav-item nav-item-share">
      <button class="nav-link toggle-share">
        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 0h24v24H0z" fill="none" />
          <path
            d="M18 16.08c-.76 0-1.44.3-1.96.77L8.91 12.7c.05-.23.09-.46.09-.7s-.04-.47-.09-.7l7.05-4.11c.54.5 1.25.81 2.04.81 1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3c0 .24.04.47.09.7L8.04 9.81C7.5 9.31 6.79 9 6 9c-1.66 0-3 1.34-3 3s1.34 3 3 3c.79 0 1.5-.31 2.04-.81l7.12 4.16c-.05.21-.08.43-.08.65 0 1.61 1.31 2.92 2.92 2.92 1.61 0 2.92-1.31 2.92-2.92s-1.31-2.92-2.92-2.92z" />
        </svg>
        <span class="nav-text">share</span>
      </button>
    </li>
    <li class="nav-item glossary-trigger">
      <button class="nav-link">
        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 0h24v24H0z" fill="none" />
          <path
            d="M4 6H2v14c0 1.1.9 2 2 2h14v-2H4V6zm16-4H8c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm-1 9H9V9h10v2zm-4 4H9v-2h6v2zm4-8H9V5h10v2z" />
        </svg>
        <span class="nav-text">glossary</span>
      </button>
    </li>
    <li class="nav-item nav-item-home home-icon">
      <a href="/" class="nav-link">
        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z" />
          <path d="M0 0h24v24H0z" fill="none" />
        </svg>
        <span class="nav-text">home</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="http://fws.gov" class="nav-link">
        <img class="logo" src="/images/svg/logo.svg" alt="Official logo of the U.S. Fish and Wildlife Service" />
      </a>
    </li>
  </ul>
</nav>