<aside class="site-wide-search">

  <form name="search-form" class="site-search" action="https://search.usa.gov/search/docs">
    <input id="affiliate" name="affiliate" type="hidden" value="fws.gov">
    <input name="utf8" type="hidden" value="&#x2713;">
    <input type="hidden" name="dc" value="2270">
    <div class="search-group">
      <label for="site-search" class="site-search-label">Search:</label>
      <input type="search" class="site-wide-search-input" name="query" placeholder="Search site content" autocomplete="off"/>
      <button type="submit" class="site-search-button" value="Search">
        <span class="sr-only">Search</span>
        <svg>
          <use xlink:href="#search"></use>
        </svg>
      </button>
    </div>
  </form>
  <button class='close'>&times;</button>
  <ul class='site-wide-search-results'>
    <li class="site-wide-search-item" style="text-align: center;"><p>Start typing to search for content...</p></li>
  </ul>
</aside>
