<aside class="site-wide-search" role="search" aria-label="Site-wide search">
  <form name="search-form" class="site-search" action="https://search.usa.gov/search/news">
    <input id="affiliate" name="affiliate" type="hidden" value="usfws-southeast-region">
    <input name="utf8" type="hidden" value="&#x2713;">
    <div class="search-group">
      <label for="query" class="site-search-label">Search:</label>
      <input type="search" class="site-wide-search-input" name="query" placeholder="Search site content" autocomplete="off" id="query" aria-describedby="search-description"/>
      <button type="submit" class="site-search-button" value="Search">
        <span class="sr-only">Search</span>
        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
      </button>
    </div>
  </form>
  <button class='close'>&times;</button>
  <ul class='site-wide-search-results'></ul>
  <p id="search-description">Start typing to search for web content...<br><a href='/reading-room'>Visit the reading room to search for documents</a>.</p>
</aside>
