<ul class='social-links'>
  <li>
    <a href='https://facebook.com/{{ if .Page.Params.facebook }}{{ .Page.Params.facebook }}{{ else }}{{ .Site.Params.facebook }}{{ end }}' title="Like us on Facebook!">
      <svg class="facebook"><use xlink:href="#facebook"></use></svg>
    </a>
  </li>
  <li>
    <a href='https://twitter.com/{{ .Site.Params.twitter }}' title="Follow us on Twitter!">
      <svg class="twitter"><use xlink:href="#twitter"></use></svg>
    </a>
  </li>
  <li>
    <a href='https://instagram.com/{{ .Site.Params.instagram }}' title="Follow us on Instagram!">
      <svg class="instagram"><use xlink:href="#instagram"></use></svg>
    </a>
  </li>
  <li>
    <a href='https://snapchat.com/add/{{ .Site.Params.snapchat }}' title="Follow us on Snapchat!">
      <svg class="snapchat"><use xlink:href="#ghost"></use></svg>
    </a>
  </li>
  <li>
    <a href='{{ .Site.Params.youtube }}' title="Subscribe to our YouTube playlist!">
      <svg class="youtube"><use xlink:href="#youtube"></use></svg>
      <!-- <img src='/images/svg/youtube.svg' alt=''/> -->
    </a>
  </li>
  <li>
    <a href='https://flickr.com/{{ .Site.Params.flickr }}' title="Follow us on Flickr!">
      <svg class="flickr"><use xlink:href="#flickr"></use></svg>
    </a>
  </li>
  <li>
    <a href='https://github.com/{{ .Site.Params.github }}' title="Follow us on GitHub!">
      <svg class="github"><use xlink:href="#github"></use></svg>
    </a>
  </li>
</ul>
