@mixin side-by-side($num: 2) {
  @for $i from $num through 0 {
    &:nth-child($i) {
      float: left;
      width: 100% / $num;
    }
  }
}

.side-by-side {
  @extend %clearfix;

  img {
    float: left;
    vertical-align: middle;
    width: 100 / 2 * 1%;
  }
}
