# Third Party
node_modules
npm-debug.log
config.gypi

# Roy's content
blog
site/content/hero.md

# Generated
dist
site/static/css
site/static/js
site/static/images
site/static/data
site/resources

# Mac stuff
.DS_Store
Thumbs.db

# Testing
test/results

# Refuges
planning/
pubs/

src/static/pdf/map/irma
