.card-list {
  padding: 0;
}

.card {
  @include card;
}

.card-list-heading {
  color: $color-accent;
  font-family: $serif;
  font-size: 1.2em;
  margin-top:0;
}

.card-ribbon {
  background: $color-accent;
  border-bottom-right-radius: $border-radius;
  border-top-left-radius: $border-radius;
  color: white;
  font-family: $serif;
  left: 0;
  padding: 5px 8px 8px;
  position: absolute;
  top: 0;

  a {
    color: white;

    &:hover {
      color: $color-primary;
    }
  }

  .icon {
    fill: white;
    height: 25px;
    position: relative;
    top: 3px;
    width: 25px;
    transition: all $transition-duration;

    &:hover {
      cursor: pointer;
      transform: scale(1.3);
    }
  }
}

.card-type {
  margin-right: 15px;

  &:last-child {
    margin-right: 0;
  }
}

.card-date {
  color: $color-text;
  position: absolute;
  top: 8px;
  right: 8px;
}

.card-text {
  padding: $leading;

  h3 {
    margin-top: 0;
    font-style: normal;

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
