.fade-list {
  cursor: pointer;

  &:not(.show) {
    li {
      &:nth-child(1n+2) {
        display: none;
      }
    }

    &::after {
      content: 'Show more \25bc';
      color: $color-accent;
      display: block;
      margin: auto;
      text-align: center;
    }
  }

  &:nth-child(1n+2) {
    display: block;
  }

  &::after {
    content: 'Show less \25b2';
    color: $color-accent;
    display: block;
    margin: auto;
    text-align: center;
  }
}
