.feature-article-summary,
.feature-news-summary {

  &__hero {
    background-size: cover;
    background-position: center center;
    height: 50vh;
    text-align: center;

    h2 {
      color: white;
      display: inline-block;
      margin: 0;
      padding: 0 5%;
      position: relative;
      text-shadow: 1px 1px 2px #000;
      top: 50%;
      transform: translateY(-50%);

      &::after {
        border-top: 2px solid white;
        content: 'Feature Story';
        display: block;
        font-family: $serif;
        padding-top: .25em;
        position: relative;
        text-transform: uppercase;
        top: .25em;
      }
    }
  }

  &__teaser {
    margin: auto;
    max-width: $container-width;
    padding: 5%;
  }
}

.feature-news-summary > h2::after {
  content: 'Latest News';
}

.article-gallery,
.news-gallery {
  @extend %clearfix;
  list-style: none;
  margin: 2em auto;
  max-width: 1200px;
  padding: 0 2% 2%;

  .card {
    margin-top: 0;
  }

  .card-text {
    @media (min-width: $break-lg) {
      margin-left: 325px;
    }

    @media (min-width: $break-xl) {
      margin: 0;
    }
  }

  li {
    @extend %clearfix;
    margin-bottom: 2em;

    @media (min-width: $break-lg) {
      .gallery-hero {
        float: left;
        max-width: 325px;
      }
    }

    @media (min-width: $break-xl) {
      display: inline-block;
      margin-right: 2%;
      vertical-align: top;
      width: 31%;

      &:last-child {
        margin-right: 0;
      }

      .gallery-hero {
        float: none;
        max-width: 100%;
      }
    }
  }
}
