figure {
  display: table;

  img {
    display: block;
  }

  video {
    margin-bottom: 0;
  }
}

figcaption {
  caption-side: bottom;
  color: $color-accent;
  display: table-caption;
  font-size: 85%;

  p {
    margin-top: 5px;
  }
}

img,
video {
  height: auto;
  max-width: 100%;
}

.photo-center {
  margin: 3em auto;
  text-align: center;
}

.photo-right {
  margin: 3em auto;

  @media (min-width: $break-lg) {
    float: right;
    margin: 1em 0 1em 1em;
  }
}

.photo {
  margin: 3em auto;
  text-align: center;

  @media (min-width: $break-lg) {
    float: right;
    margin: 2em 0 2em 2em;
  }
}
