footer {
  background: $primary-gradient;
  color: $color-white;
  text-align: center;

  .last-update {
    margin: $leading auto;
  }

  a {
    color: $color-white;
    text-decoration: none;

    &:visited {
      color: $color-white;
    }

    &:hover {
      color: $color-white;
      text-decoration: underline;
      text-shadow: 1px 1px 2px #000;
    }
  }

  @media (min-width: $break-md) {
    padding-left: $nav-width;
  }
}

.footer-links {
  list-style: none;
  margin: 0;
  padding: $leading;

  li {
    display: inline-block;
    margin: 5px 0;

    &::after {
      content: ' • ';
    }

    &:last-child::after {
      content: '';
    }
  }
}

.social-links {
  list-style: none;
  margin-bottom: 0;
  padding: 0;
  text-align: center;

  li {
    display: inline-block;
    margin: 0 $leading/4 0 0;
    width: 50px;
  }

  svg {
    max-height: 45px;
    max-width: 45px;
    transition: transform $transition-duration;

    &:hover {
      transform: scale(1.2) rotate(-15deg) translateY(-10px);
    }
  }

  .facebook {
    fill: $color-facebook;
  }

  .twitter {
    fill: $color-twitter;
  }

  @media (min-width: $break-md) {
    margin-left: $nav-width;
  }
}
