.highlight {
  border-bottom: 1px dashed $color-accent;
  cursor: help;
}

.glossary-list {
  list-style: none;
  overflow-y: scroll;
  padding-left: 0;
}

.glossary-related-terms {
  padding: 0;

  li {
    @include tag;
    display: inline-block;
    margin-right: 10px;
  }
}

.glossary-container {
  background: $color-white;
  color: $color-text;
  max-width: $glossary-max-width;
  overflow-y: scroll;
  padding: 3%;
  position: fixed;
  transition: all .3s;
  width: 100%;
  z-index: 1002;

  @media (min-width: $break-md) {
    padding-right: $nav-width + 15px;
  }

  &.glossary-left {
    bottom: 0;
    left: 0;
    top: 0;
    transform: translateX(-100%);

    &.active {
      transform: translateX(0);
    }
  }

  &.glossary-right {
    bottom: 0;
    right: 0;
    top: 0;
    transform: translateX(100%);

    &.active {
      transform: translateX(0);
    }
  }

  &.glossary-bottom {
    bottom: 0;
    left: 0;
    top: 0;
    transform: translateY(100%);

    &.active {
      transform: translateY(0);
    }
  }

  &.glossary-top {
    bottom: 0;
    right: 0;
    top: 0;
    transform: translateY(-100%);

    &.active {
      transform: translateY(0);
    }
  }
}
