.highlight {
  border-bottom: 1px dashed $color-accent;
  cursor: help;
}

.glossary-list {
  list-style: none;
  padding-left: 0;
}

.glossary-related-terms {
  padding: 0;

  li {
    @include tag;
    display: inline-block;
    margin-right: 10px;
  }
}

.glossary-container {
  @include drawer('glossary');
  overflow-y: scroll;
}
