.hero {
  height: 50vh;
  overflow: hidden;
  position: relative;
  text-align: center;

  @media (min-width: $break-md) {
    margin-left: $nav-width;
  }

  h1 {
    align-self: center;
    color: white;
    display: inline-block;
    justify-content: center;
    margin: auto;
    padding: $leading;
    text-shadow: 1px 1px 2px #000;
  }

  a {
    text-decoration: none;
  }
}

.hero-parallax {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  height: 100%;
  margin: auto;
  max-width: 1400px;
  overflow: hidden !important;
}

.hero-video {
  margin: 0 auto !important;
  max-height: 80vh;
}

.hero-caption {
  background: linear-gradient(to right, rgba(25, 25, 25, 0.8), rgba(0, 0, 0, 0.8));
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  bottom: 0;
  color: white;
  display: flex;
  font-size: 13px !important;
  line-height: 1.4;
  padding: 0.25rem;
  position: absolute;
  right: 30px;
  transform: translateX(100%);
  transition: all 0.3s;

  a {
    color: white;

    &:visited,
    &:hover,
    &:active {
      color: white;
    }
  }

  &.active {
    right: 0;
    transform: translateX(0);

    .caption-content {
      height: auto;
      opacity: 1;
    }
  }
}

.info-icon {
  fill: white;
  flex: 1 0 20px;
  height: 20px;
  margin-right: 0.25rem;
  width: 20px;

  &:hover {
    cursor: pointer;
  }
}

.caption-content {
  display: block;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.3s;
}
