.infinite-list {

  &--header {
    @media (min-width: $break-lg) {
      display: flex;
    }
  }

  &--type {
    background: $color-accent;
    color: $white;
    font-weight: bold;
    margin: 0;
    padding: $leading/4;
    text-align: center;

    @media (min-width: $break-md) {
      margin: 0 0 $leading;
      padding: 0;
    }
  }

  &--img-date {

    img {
      display: block;
      margin: auto;
    }
    @media (min-width: $break-lg) {
      flex: 2;
      margin-right: $leading;
    }
  }

  &--date {
    display: block;
    margin: $leading/2 0;

    @media (min-width: $break-lg) {
      text-align: center;
      margin: 0;
    }
  }

  &--title {
    @media (min-width: $break-lg) {
      flex: 3;
    }
  }

  &--summary {
    @media (min-width: $break-lg) {
      margin-top: $leading !important;
    }
  }
}
