a {
  color: $color-accent;

  &:hover {
    color: $color-text;
  }

  &:active {
    color: $color-primary;
  }

  &:visited {
    color: $color-accent;
  }
}

#skip-to-content {
  @extend %sr-only;
}
