.scroll-nav {
  background: $color-accent;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  padding: 5px;
  text-align: center;
  transition: max-height $transition-duration;
  z-index: 1001;

  a {
    color: white;

    &:visited {
      color: white;
    }
  }

  &.fixed {
    box-shadow: 0 5px 2px -2px $dark-gray;
    left: 0;
    max-height: 45px;
    opacity: 1;
    position: fixed;
    right: 0;
    top: 0;

    @media (min-width: $break-md) {
      left: $nav-width;
    }

    @media (min-width: $break-scrollnav) {
      height: 100vh;
      left: auto;
      max-height: 100vh;
      overflow-y: scroll;
      padding-bottom: 20px;
      right: 0;
      text-align: left;
      width: $sidenav-width;

      li {
        &:hover,
        &:focus {
          background: lighten($color-accent, 10);
        }
      }
    }
  }

  &.open {
    border-bottom-right-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    max-height: 1500px;
    overflow-y: scroll;
    transition: all $transition-duration;

    &:not(.fixed) {
      height: 0;
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__link {
    color: white;
    display: block;
    padding: $leading /4;
    text-decoration: none;
    transition: background $transition-duration;

    &:hover,
    &:focus {
      color: $color-white;
    }
  }

  &__item {
    border-left: 3px solid $color-accent;
    padding-left: 5px;
    transition: background $transition-duration;

    &.active {
      border-left: 3px solid $color-white;
      text-shadow: 3px 3px 3px #000;
    }

    &:hover {
      background: lighten($color-accent, 10);
    }
  }

  &::before {
    color: white;
    content: "Sections";
    cursor: pointer;
    display: block;
    font-weight: bold;
    line-height: 45px;
    margin: auto;
    text-align: center;
  }
}

.scroll-nav__section {
  margin: 4em 0;
}
