.search-group {

  input {
    padding-right: 35px;
  }

  button {
    background: transparent;
    border: none;
    left: -35px;
    margin-right: -35px;
    padding: 0;
    position: relative;
    top: 9px;

    svg {
      fill: $color-accent;
    }
  }
}
