@mixin button($color: $color-accent, $bg: $color-white) {
  background: $bg;
  border: 3px solid darken($color, 5);
  color: $color;
  transition: background $transition-duration ease-out, color $transition-duration ease-out;

  &:hover {
    background: darken($bg, 5);
  }
}
