@mixin button($color: white, $bg: $color-accent) {
  background: $bg;
  border: 3px solid darken($bg, 5);
  border-radius: 3px;
  color: $color;
  padding: 5px;
  text-shadow: initial;
  transition: all $transition-duration ease-in;

  &:hover {
    background: darken($bg, 5);
    border: 3px solid darken($bg, 10);
    text-shadow: 1px 1px 2px black;
  }
}

.button {
  @include button;
}

a.button {
  color: white !important;
  text-decoration: none;
  white-space: nowrap;
}
