@mixin card($level: 1) {
  @include shadow(1);
  background: $color-muted;
  display: block;
  margin: $leading 0;
  position: relative;
  transition: all $transition-duration;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &:hover {
    @include shadow(3);
    transform: translateY(-5px);
  }
}
