@mixin drawer($item, $max-width: $drawer-width) {
  background: white;
  bottom: 0;
  border-bottom-right-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
  overflow-y: scroll;
  padding: 2em 1em;
  position: absolute;
  transition: transform $transition-duration;
  width: 100%;
  z-index: 5000;

  &.active {
    @include shadow(3);
    max-width: $drawer-width;
  }

  &.#{$item}-left {
    bottom: 0;
    left: 0;
    top: 0;
    transform: translateY(-100%);

    &.active {
      transform: translateY(0);

      @media (min-width: $break-md) {
        padding-left: $nav-width + 18px;
        transform: translateX(0);
      }
    }

    @media (min-width: $break-md) {
      transform: translateX(-100%);
    }

    @media print {
      display: none;
    }
  }

  &.#{$item}-right {
    bottom: 0;
    right: 0;
    top: 0;
    transform: translateY(100%);

    &.active {
      transform: translateY(0);

      @media (min-width: $break-md) {
        padding-right: $nav-width + 18px;
        transform: translateX(0);
      }
    }

    @media (min-width: $break-md) {
      transform: translateX(100%);
    }
  }

  @media (min-width: $break-md) {
    border-top-right-radius: $border-radius;
    border-bottom-left-radius: 0;
  }

  .close-drawer {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}
