@mixin tag($bg-color: $color-accent, $color: $color-white) {
  background: $bg-color;
  border-radius: 5px;
  color: $color;
  cursor: pointer;
  display: inline-block;
  margin: 1em 8px 0 0;
  padding: 3px 10px;
  text-decoration: none;
  white-space: nowrap;

  a {
    color: $color;
    text-decoration: none;
  }

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    background: darken($bg-color, 10);
  }
}
