.homepage {

  .hero-parallax,
  #content {
    max-width: none;
  }

  #content {
    @media(min-width: $break-md) {
      margin-left: $nav-width;
    }
  }
}

.mega-map-button {
  display: inline-flex !important;
  justify-content: center;

  svg {
    height: 35px;
    flex: 1 !important;
    fill: white;
    margin-right: $leading;
  }

  p {
    flex: 4 !important;
    margin-top: 0;
    line-height: 35px;
  }
}

.centered-button {
  text-align: center;

  a.button {
    display: inline-block;
    margin: 1em 0;
    padding: 1em;
    text-transform: uppercase;
  }
}

.homepage-lead {
  margin: auto;
  max-width: 800px;
  padding: 3%;
  text-align: center;

  a.button {
    display: inline-block;
    margin: 2em 0;
    padding: 1em;
    text-transform: uppercase;
  }

  @media (min-width: $break-md) {
    padding: 5%;
  }
}
