.homepage {

  .hero {
    margin-left: 0;
  }

  .hero-parallax,
  #content {
    max-width: none;

    @media(min-width: $break-md) {
      margin-left: $nav-width;
    }
  }
}

.centered-button {
  text-align: center;

  a.button {
    display: inline-block;
    margin: 1em 0;
    padding: 1em;
    text-transform: uppercase;
  }
}

.homepage-lead {
  margin: auto;
  max-width: 800px;
  padding: 3%;
  text-align: center;

  a.button {
    display: inline-block;
    margin: 2em 0;
    padding: 1em;
    text-transform: uppercase;
  }

  @media (min-width: $break-md) {
    padding: 5%;
  }
}
