.priorities-page {

  h1,
  h2 {
    text-align: center;
  }

  @media (min-width: $break-md) {
    margin-left: $nav-width;
  }

  figure.js-Parallaxify {
    background-size: cover;
    background-position: center center;
    height: 50vh;
    margin: 0;
    text-align: center;
    width: 100%;
  }

  .logo {
    display: inline-block;
    height: 100%;
    position: relative;
    top: 50%;
    width: 175px;
  }

  .document-download {
    text-align: center;

    img {
      width: 35px;
    }
  }

  .center {
    text-align: center;
  }

  .icon {
    max-height: 75px;
    max-width: 75px;
  }

  .caption {
    color: $color-accent;
    display: block;
    margin: auto;
    font-size: .8em;
    text-align: center;
  }

  .reveal {
    display: block;
    margin: auto;
  }

  .title {
    font-size: 3em;
    text-align: center;
  }

  .section-heading {
    font-size: 5em;
    line-height: 1em;
    margin-bottom: 15px;
    text-align: center;
  }

  .species-chart {
    margin: auto;
    max-width: 600px;
  }

  .inline-image-caption {
    margin-bottom: 0 !important;
    margin-top: 3em !important;
  }

  .caption {
    display: table;
    margin-top: 0 !important;

    img {
      display: block;
    }

    figcaption {
      color: lighten($dark-gray, 10);
      display: table-caption;
      caption-side: bottom;
      font-size: .9em;
      text-align: right;
    }
  }

  .slide-wrapper {
    text-align:center;
  }

  .comparison-widget {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    overflow: hidden;
    vertical-align: top;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .comparison-widget * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .comparison-widget:hover .comparison-separator {
    opacity: 1;
  }
  .comparison-widget:hover .comparison-control {
    opacity: 1;
  }
  .comparison-widget:hover .comparison-control:before,
  .comparison-widget:hover .comparison-control:after {
    opacity: 1;
  }
  .comparison-widget--hidden {
    opacity: 0;
  }
  .comparison-item {
    height: 100%;
    width: 100%;
    background: #fff;
  }
  .comparison-item--first {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
  .comparison-item__content {
    height: 100%;
    overflow: hidden;
    position: relative;
  }
  .comparison-item__content:hover .comparison-item__label {
    background: #fff;
  }
  .comparison-item--first .comparison-image {
    width: auto;
    max-width: none;
    position: absolute;
    left: 0;
    top: 0;
  }
  .comparison-item__image {
    display: block;
    max-width: 100%;
    -webkit-user-drag: none;
  }
  .comparison-item--first .comparison-item__label {
    left: 0;
    right: inherit;
  }
  .comparison-item__label {
    padding: 7px 10px;
    position: absolute;
    top: 0;
    right: 0;
    text-transform: uppercase;
    font-family: Verdana, sans-serif;
    font-size: 11px;
    color: #222;
    background: rgba(255, 255, 255, 0.65);
    z-index: 1;
    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
  }
  .comparison-separator {
    width: 4px;
    height: 100%;
    position: absolute;
    right: -1px;
    top: 0;
    z-index: 10;
    background: $color-accent;
    cursor: pointer;
    opacity: 0.7;
  }
  .comparison-control {
    width: 12px;
    height: 12px;
    margin-top: -6px;
    margin-left: -6px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: $color-accent;
    border-radius: 100%;
    opacity: 0.7;
  }

  .comparison-control:before {
    left: -15px;
  }
  .comparison-control:after {
    right: -15px;
    background-position: -12px 0px;
  }
  .comparison-control__mask {
    width: 50px;
    height: 40px;
    position: absolute;
    top: -15px;
    left: -18px;
    background: #fff;
    opacity: 0;
  }

  .layout {
    @include container($container-width);
    padding: 0 40px;

    p,
    blockquote,
    ul,
    h3,
    h4,
    .caption {
      margin: $leading auto;
      max-width: 700px;
    }

    svg {
      max-width: 125px;
    }

    @media (min-width: 1000px) {
      padding: 0;
    }
  }

  .document-download {
    text-align: center;

    img {
      width: 35px;
    }
  }

  .center {
    text-align: center;
  }

}
