#sciencebase-map {
  height: 85vh;
  margin: $leading 0;
}

.info-window {
  @include drawer('info-window');
}

.download-button {
  display: none;
  text-align: center;

  &.active {
    display: block;
  }
}
