figure {
  display: table;

  &.full-width {
    margin: auto;
    width: 100%;
  }

  img {
    display: block;
  }

  video {
    margin-bottom: 0;
    margin-top: 0;
  }
}

figcaption {
  caption-side: bottom;
  color: $color-accent;
  display: table-caption;
  margin-top: $leading/2;

  @media (min-width: $break-md) {
    font-size: 18px;
    line-height: 24px;
  }
}

img,
video {
  height: auto;
  max-width: 100%;
}

.photo-center {
  margin: 3em auto;
  text-align: center;
}

.photo-right {
  margin: 3em auto;

  @media (min-width: $break-lg) {
    float: right;
    margin: 1em 0 1em 1em;
  }
}

.photo {
  margin: 3em auto;
  text-align: center;

  @media (min-width: $break-lg) {
    float: right;
    margin: 2em 0 2em 2em;
  }
}
