.hero,
.inline-hero {
  height: 50vh;
  overflow: hidden;
  position: relative;
  text-align: center;

  @media (min-width: $break-md) {
    margin-left: $nav-width;
  }

  h1,
  h2 {
    color: white;
    left: 50%;
    margin: auto;
    padding: $leading;
    position: absolute;
    text-shadow: 2px 2px 3px #000;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
  }

  a {
    text-decoration: none;
  }

  .permalink {
    display: flex;
  }
}

.hero-teaser {
  margin: auto;
  max-width: $container-width;
  padding: 5%;
}

.inline-hero {
  display: flex;
  margin-left: 0;

  h2 {
    &::after {
      border-top: 2px solid white;
      display: block;
      font-family: $serif;
      padding-top: 0.25em;
      position: relative;
      text-transform: uppercase;
      top: 0.25em;
    }
  }
  .feature-article::after {
    content: 'Feature Story';
  }
  .feature-news::after {
    content: 'Latest News';
  }
}

.hero-image {
  object-fit: cover;
  object-position: 50% 50%;
}

html.no-object-fit .hero-parallax {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-parallax {
  display: flex;
  height: 100%;
  margin: auto;
  max-width: 1400px;
  overflow: hidden !important;
}

.hero-caption {
  background: linear-gradient(to right, rgba(25, 25, 25, 0.8), rgba(0, 0, 0, 0.8));
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  bottom: 0;
  color: white;
  display: flex;
  font-size: 13px !important;
  line-height: 1.4;
  padding: 0.25rem;
  position: absolute;
  right: 30px;
  transform: translateX(100%);
  transition: all 0.3s;

  a {
    color: white;
    text-decoration: underline;

    &:visited,
    &:hover,
    &:active {
      color: white;
    }
  }

  &.active {
    right: 0;
    transform: translateX(0);

    .caption-content {
      height: auto;
      opacity: 1;
    }
  }
}

.info-icon {
  fill: white;
  flex: 1 0 20px;
  height: 20px;
  margin-right: 0.25rem;
  width: 20px;

  &:hover {
    cursor: pointer;
  }
}

.caption-content {
  display: block;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.3s;
}

.promo {
  display: flex;
  height: 100vh;
  padding-left: $nav-width;
  width: 100%;
}

.promo img {
  object-fit: cover;
  width: 100%;
}
