.tag-list {
  list-style: none;
  margin: $leading*2;
  padding-left: 0;
  text-align: center;

  &::before {
    content: 'Tags';
    display: block;
    font-weight: bold;
  }

  li {
    display: inline-block;
    margin-right: .5em;
    margin-bottom: 0;
  }
}

.tag {
  @include tag;
}
