html {
  box-sizing: border-box;
  background: #fff;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.twitter-tweet {
  margin: auto;
}

.warning {
  background: red;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

@import 'variables';
@import 'vendor/manifest';
@import 'helpers/manifest';
@import 'base/manifest';
@import 'mixins/manifest';
@import 'elements/manifest';
@import 'components/manifest';
@import 'layout/manifest';
@import 'pages/manifest';
