video {
  display: block;
  margin: $leading auto;
  max-width: 100%;
}

.hero video {
  margin: 0 auto;
  object-fit: cover;
}

.video-caption {
  color: $color-accent;
  margin: 0 auto 1rem;
  text-align: center;
}