.section-nav {
  background: $primary-gradient;
  padding: .5em;
  text-align: center;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      margin: 0 .25em;
      position: relative;

      ul {
        background: $color-accent;
        left: 0;
        max-width: 350px;
        padding: 0;
        position: absolute;
        top: 100%;
        width: 300%;

        li {
          border-radius: 0;
          display: block;
          margin: 0;
          text-align: left;

          a {
            padding: 5px;
          }
        }
      }

      ul.hidden {
        display: none;
      }

      a,
      button {
        background: transparent;
        border: none;
        color: white;
        display: block;
        font-weight: normal;
        margin-right: .5em;
        padding: .5em .25em;
        text-decoration: none;
        transition: background .3s;

        &:last-child {
          margin-right: 0;
        }

        &:visited,
        &:active,
        &:hover {
          color: white;
        }

        &:hover {
          background: $color-accent;
          border-radius: 5px;
          text-shadow: 1px 1px 2px #000;
        }
      }
    }
  }

  @media (min-width: $break-md) {
    margin-left: $nav-width;
  }

  @media print {
    display: none;
  }
}
