<ul class='article-gallery'>
  {{ range first 3 (sort .Site.Data.teasers.stories "date" "desc") }}
  <li class='card'>
    {{ if .hero }}
    <div class='card-hero'>
      <a href="{{ .url }}">
        {{ if .hero.name }}
        <img srcset="/images/hero/small/{{ .hero.name }} 450w, /images/hero/medium/{{ .hero.name }} 850w" src="/images/hero/small/{{ .hero.name }}" alt="{{ .hero.alt }}" class='gallery-hero' sizes="100vw" />
        {{ end }}
      </a>
    </div>
    {{ end }}
    <div class='card-text'>
      <p>
        <span class='card-text-date'>{{ dateFormat "January 2, 2006" .date }}{{ if gt .ReadingTime 0 }} | {{ .ReadingTime }} minute read{{ end }}</span>
        <a href="{{ .url }}">{{ .title }}</a>
      </p>
    </div>
  </li>
  {{ end }}
</ul>
