{{ $tag := lower (.Get "tag") | urlize }}
{{ $type := .Get "type" }}
{{ $section := .Get "section" }}
{{ $tagPages := where (index .Site.Taxonomies.tags $tag) "Page.Section" $section }}
{{ $typePages := where .Site.RegularPages "Type" $type }}
{{ $lazyLoadLimit := 7 }}

{{ if gt (len $typePages) 0}}
  {{ $.Scratch.Add "pages" $typePages }}
{{ end }}

{{ if gt (len $tagPages) 0}}
  {{ $.Scratch.Add "pages" $tagPages }}
{{ end }}

<ol class="infinite-list card-list">
{{ range $index, $element := $.Scratch.Get "pages" }}
  {{ .Render "summary" }}
{{ end }}
</ol>
