{{ $tag := lower (.Get "tag") | urlize }}
{{ $type := .Get "type" }}
{{ $section := .Get "section" }}
{{ $tagPages := where (index .Site.Taxonomies.tags $tag) "Page.Section" $section }}
{{ $typePages := where .Site.Pages "Type" $type }}
{{ $lazyLoadLimit := 7 }}

{{ if gt (len $typePages) 0}}
  {{ $.Scratch.Add "pages" $typePages }}
{{ end }}

{{ if gt (len $tagPages) 0}}
  {{ $.Scratch.Add "pages" $tagPages }}
{{ end }}

<ol class="infinite-list card-list">
{{ range $index, $element := $.Scratch.Get "pages" }}
  <li class="infinite-list--item card">
    <!-- {{ if (in $element.Params.tags "E-Grits") }}<p class="infinite-list--type">{{ $element.Params.type }}</p>{{ end }} -->
    <div class="infinite-list--header {{ if .Params.hero }}infinite-list--header__img{{ end }}" {{ if .Params.hero.position }}style="object-position: {{ .Params.hero.position }};"{{ else }} {{ end }}>{{ if $element.Params.hero.name }}
        <img class="infinite-list--img" {{ if lt $index $lazyLoadLimit }}src{{ else }}src="/images/svg/picture.svg" data-src{{ end }}="/images/hero/{{ $element.Params.hero.name }}" alt="{{ $element.Params.hero.alt }}"/>
    {{ end }}</div>
    <div class="infinite-list--text card-text">
      {{ if not $element.Date.IsZero }}
      <span class="infinite-list--date">{{ $element.Date.Format "Jan 2, 2006"}}{{ if gt $element.ReadingTime 0 }} | {{ $element.ReadingTime }} minute read{{ end }}</span>
      {{ end }}
      <div class="infinite-list--title">
        <h3><a href="{{ $element.Permalink }}">{{ $element.Title }}</a></h3>
      </div>
      <p class="infinite-list--summary">{{ if $element.Description }}{{ $element.Description | markdownify }}{{ else }}{{ $element.Summary | markdownify }}{{ end }} <a href="{{ $element.Permalink }}" aria-label="{{ $element.Title }}">Read the full story &raquo;</a></p>
    </div>

  </li>
{{ end }}
</ol>
