{{ $tag := lower (.Get "tag") | urlize }}
{{ $section := .Get "section" }}
{{ $pages := where (index .Site.Taxonomies.tags $tag) "Page.Section" $section }}
{{ $lazyLoadLimit := 5 }}

{{ if gt (len $pages) 0 }}

<div class='scroller-list'>
  <header>
    {{ if eq "wildlife" $section }}
    <h2 id="species-profiles" class="scroller-list--heading">Species Profiles</h2>
    {{ else if eq "news" $section }}
    <h2 id="press-releases" class="scroller-list--heading">Press Releases</h2>
    {{ else if eq "articles" $section }}
    <h2 id="stories" class="scroller-list--heading">Stories</h2>
    {{ else }}
    <h2 id="{{ $section }}"class="scroller-list--heading">{{ title $section }}</h2>
    {{ end }}
  </header>
  <ol class="scroller-list--list">
  {{ if gt (len $pages) 0 }}
    {{ range $index, $element := $pages }}
      <li class='scroller-list--item'>
        <a href='{{ .Page.Permalink }}'>
          <div class='icon-date'>
            {{ if .Page.Params.hero.name }}
            <img {{ if lt $index $lazyLoadLimit }}src{{ else }}src="/images/svg/picture.svg" data-src{{ end }}='{{ $.Site.BaseURL }}images/hero/small/{{ .Page.Params.hero.name }}' alt='{{ .Page.Params.hero.alt }}'/>
            {{ else if .Page.Params.hero.video}}
            <iframe width="150px" src="https://www.youtube.com/embed/{{ .Page.Params.hero.video }}" frameborder="0" allowfullscreen></iframe>
            {{ end }}
            {{ if not .Page.Date.IsZero }}
            <span>{{ .Page.Date.Format "Jan 2, 2006"}}{{ if gt .Page.ReadingTime 0 }} | {{ .Page.ReadingTime }} minute read{{ end }}</span>
            {{ end }}
          </div>
          <p>{{ .Page.Title }}</p>
        </a>
      </li>
    {{ end }}
  {{ else }}
    <li class='scroller-list--item'>
      {{ if eq $section "news"}}
      <p>No press releases found for {{ $tag | humanize | title }}.</p>
      {{ else if eq $section "articles"}}
      <p>No stories found for {{ $tag | humanize | title }}.</p>
      {{ else if eq $section "wildlife" }}
      <p>No species profiles found for {{ $tag | humanize | title }}.</p>
      {{ else }}
      <p>No {{ $section }} found for {{ $tag | humanize | title }}.</p>
      {{ end }}
    </li>
  {{ end }}
  </ol>
</div>

{{ end }}
