- var date = require('date-and-time');
for result in results
  - var formattedDate = date.format(new Date(result.publication_date), 'MMMM D, YYYY');
  li.federal-register-item
    h3 #[a(href=result.html_url, target="_blank")= result.title]
    p #[strong= formattedDate]
    p= result.abstract
    p #[a(href=result.pdf_url, target="_blank") Download PDF]
