li(style="text-align: center;")
  h2 We&rsquo;re sorry but an error ocurred.
  p| Try visiting #[a(href="https://www.sciencebase.gov/catalog/items?q=SSPQR%20FWSR4", target="_blank") ScienceBase.gov] directly for a full list of SSP Projects.
