@mixin card($level: 1) {
  @include shadow(1);
  border-radius: 4px;
  border-top: 6px solid $color-accent;
  display: block;
  margin: $leading 0;
  position: relative;
  transition: all $transition-duration;

  &:hover {
    @include shadow(3);
    transform: translateY(-5px);
  }
}
