fieldset {
  border: 3px solid $color-accent;
  border-radius: $border-radius;
}

legend {
  color: $color-accent;
  font-weight: bold;
  padding: 0 $leading/2;
}

.form-group {
  margin-bottom: $leading;
}
