label {
  color: $color-accent;
  font-weight: bold;
}

input[type=submit],
button {
  @include button;
  font-weight: bold;
}

input[type=text],
input[type=search],
textarea {
  border: 2px solid $color-accent;
  padding: 3px 5px;
  width: 100%;

  &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: $color-accent;
  }

  &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
     color: $color-accent;
     opacity: 1;
  }

  &::-moz-placeholder { /* Mozilla Firefox 19+ */
     color: $color-accent;
     opacity: 1;
  }

  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
     color: $color-accent;
  }
}

.form-group {
  margin: $leading 0;
}
