a {
  color: $color-accent;

  &:hover {
    color: $color-text;
  }

  &:active {
    color: $color-primary;
  }

  &:visited {
    color: $color-accent;
  }
}

#skip-to-content {
  background: white;
  border: 2px solid $color-accent;
  border-radius: $border-radius;
  left: 1em;
  padding: .5em;
  position: absolute;
  top: 1em;
  opacity: 0;
  z-index: 10000;

  &:focus {
    opacity: 1;
  }
}

a[href$=".pdf"] {
  &:after {
    content: url('../images/pdf.png');
    margin-left: 5px;
  }
}
