thead {
  background: $color-accent;
  color: white;
  font-family: $serif;
  padding: 1em !important;
}

.striped-table {

  tr:nth-child(even) {
    background: rgba(204, 204, 204, .5);
    border-radius: 3px;
  }

  td {
    padding: .25em;
  }
}

.contacts-table {
  th {
    padding: 5px;
    text-align: left;
  }

  td {
    line-height: normal;
    max-width: 300px;
    min-width: 125px;
    padding: 5px;

    &:first-child {
      border-bottom-left-radius: 3px;
      border-top-left-radius: 3px;
    }

    &:last-child {
      border-bottom-right-radius: 3px;
      border-top-right-radius: 3px;
    }
  }
}
