table {
  width: 100%;

  td,
  th {
    padding: .25em;
  }

  .footnote-ref a {
    color: white;
  }
}

thead {
  background: $color-accent;
  color: white;
  font-family: $serif;
  padding: 1em !important;
  text-align: left;

  a,
  a:visited {
    color: white;
  }
}

.striped-table {
  tr:nth-child(even) {
    background: rgba(204, 204, 204, .5);
    border-radius: 3px;
  }
}

.gis-training-agenda {
  border: 1px solid $color-text;
  text-align: center;

  @media (min-width: $break-lg) {
    font-size: 18px !important;
    line-height: 21px !important;
  }

  th {
    border: 1px solid white;
    padding: .25em;
  }

  td {
    border: 1px solid $color-text;
    padding: .25em;
  }

  .class-time {
    font-weight: bold;
  }

  .introduction {
    background: #66ffff;
  }

  .intermediate {
    background: rgb(102, 204, 0);
  }

  .advanced {
    background: rgb(255, 255, 0);
  }

  .other-topics {
    background: rgb(204, 204, 255);
  }

  .detail-heading {
    background: $color-accent;
    color: white;
    font-size: 1.3em;
    font-weight: bold;
    text-transform: uppercase;
  }

  .date-heading {
    background: rgb(255, 204, 0);
    font-size: 1.3em;
    font-weight: bold;
    text-transform: uppercase;
  }
}
