video {
  display: block;
  margin: $leading auto;
  max-width: 100%;
}

iframe[src*="//www.youtube.com/embed"] {
  margin: $leading 0;
}

.hero,
.card,
.feature-news-summary,
.feature-article-summary__hero {
  iframe[src*="//www.youtube.com/embed"] {
    margin: 0;
  }
}
