// Colors
$light-green: #a5d6a7;
$dark-green: #006358;
$tennessee-orange: #f77f00;
$dark-gray: #333;
$white: #fff;

$color-primary: $light-green;
$color-accent: $dark-green;
$color-text: $dark-gray;
$color-white: $white;
$color-muted: lighten($color-text, 70);

$color-facebook: #3b5998;
$color-twitter: darken(#1da1f3, 5);

$primary-gradient: linear-gradient($color-accent, darken($color-accent, 10));

// Fonts
$serif: Merriweather, Georgia, Verdana, serif;
$sans-serif: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Navigation Menu
$docked-width: 400px;
$nav-width: 85px;

// Drawers
$drawer-width: 850px;

// Scroll Nav
$sidenav-width: 300px;

// Glossary
$glossary-max-width: 850px;

// Max width for Content
$container-width: 850px;

// Breakpoints
$break-xs: 400px;
$break-sm: 500px;
$break-md: 600px;
$break-lg: 900px;
$break-xl: 1200px;
$break-scrollnav: $break-xl;

// Transitions
$transition-duration: 0.3s;

// Borders
$border-radius: 5px;
