.pfw-accomplishments {

  #map {
    height: 50vh;
  }

  .page {
    display: none;
    width: 100%;

    &.active {
      display: block;
    }
  }

  .success-story-list {
    list-style: none;
    margin: 1em 0;
    padding: 0;
    text-align: center;

    li {
      display: inline-block;
      margin: .5em;
      padding: 0;

      a {
        @include button;
        text-decoration: none;
      }
    }
  }

  .success-story-info {
    text-align: center;
  }
}
