.main-nav {
  transition: all $transition-duration;

  svg {
    fill: white;
    height: 30px;
    width: 30px;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }

  .logo {
    transition: transform $transition-duration;
    width: 50px;

    &:hover {
      transform: scale(1.2);
    }
  }
}

.nav-list {
  @include shadow(3);
  background: $dark-green;
  margin: 0;
  min-width: $nav-width;
  padding: 7px;
  text-align: center;

  .material-icons {
    font-size: 30px;
  }

  @media (min-width: $break-md) {
    height: 100%;
    padding: 0;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5002;
  }
}

.nav-item {
  display: inline-block;
  margin-right: .2em;
  padding: 5px;
  position: relative;
  text-align: center;

  &:last-child {
    margin-right: 0;
  }

  a {
    color: white;
    display: block;

    &:visited,
    &:active {
      color: $color-white;
    }
  }

  a[href*='//']:not([href*='fws.gov']) {
    &::after {
      content: '';
    }
  }

  @media (min-width: $break-md) {
    display: block;
    height: 14vh;
    margin: 0;
    padding-top: 50%;
  }
}

.nav-link {
  color: $color-white;
  text-decoration: none;
  transition: transform $transition-duration;

  &:hover,
  &:focus {
    transform: scale(1.3);
  }
}

.nav-text {
  display: block;
}

// Show the contact button as soon as there is room
.contact-icon {
  display: none;

  @media(min-width: 400px) {
    display: inline-block;
  }
}
